:root {
    --green: rgb(103, 221, 150);
    --white: rgb(235, 240, 236);
    --darkgreen: rgb(26, 126, 34);
    --yellow: rgb(244, 211, 24);
}

@font-face {
    font-family: matcha;
    src: url(../fonts/GoodMatcha.otf);
    font-weight: bold;
}

@font-face {
    font-family: comfortaa;
    src: url(../fonts/Comfortaa-Regular.ttf);
}

@font-face {
    font-family: comfortaa_bold;
    src: url(../fonts/Comfortaa-Regular.ttf);
    font-weight: bold;
}

/* webpage stylings */

* {

    /* 
        border: 2px green solid;
    */
    font-family: comfortaa;
}

body {
    overflow-x: hidden;
    background-color: var(--white);
    margin: 0px;
    margin-bottom: -16px;
    background-image: url(/images/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
}

/* navigation bar styling */

nav {
    border-radius: 12px;
    width: 60%;
    margin: auto;
    margin-top: 1%;
    padding: 0.5%;
    display: flex;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
    padding-bottom: 2;
    flex-wrap: wrap;
    z-index: 1;
}

nav > a {
    font-family: matcha;
    text-decoration: none;
    color: var(--white);
    font-size: 1.4em;
    text-align: center;
    display: inline-block;
    border-bottom: transparent 4px solid;
    padding: 0px 10px;
}

nav p {
    font-size: 0.6em;
    font-family: matcha;
    margin: 0%;
}

nav i {
    font-size: 1.5em;
}

nav p, i {
    filter: drop-shadow(1px 2px 0px rgba(0, 0, 0, 0.442));
}
a:hover * {
    filter: drop-shadow(-1px -2px 0px rgba(37, 94, 42, 0.442));
}
a:active {
    color: #d6d6d6;
}
a:hover, .active-page {
    border-bottom: var(--yellow) 4px solid;
}

h1 {
    font-family: matcha;
    font-size: 4em;
    text-align: center;
    text-shadow: 0px 8px 16px rgba(0, 0, 0, 0.178);
}

h2 {
    font-family: matcha;
    font-size: 2.2em;
}

.main-container {
    width: 60%;
    margin: auto;
    padding: 0.5%;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

section {
    padding: 0.5%;
    border-radius: 12px;
    padding: 2%;
}
.glass {
    background-color: rgba(103, 221, 150, 0.7);
    backdrop-filter: blur(1.5px);
    border: 2px solid rgba(194, 255, 218, 0.18);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.37);
}
section > p {
    background-color: rgba(235, 240, 236, 0.5);
    padding: 3%;
    border-radius: 7px;
    text-align: justify;
    line-height: 175%;
}
section > figure {
    margin: 0%;
}
section > figure > img {
    max-width: 100%;
}
figure > figcaption {
    font-size: 60%;
    margin-top: 1%;
}

footer {
    background-color: var(--green);
    border-top: 3px solid var(--white);
    box-shadow: 0px 10px 32px 5px rgba(0, 0, 0, 0.863);
    text-align: center;
    padding: 3px;
    margin-top: 6%;
    font-size: 0.7em;
}

/* contact form */
.contact-form {
    border-radius: 15px;
    padding: 3%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.contact-form input, select, textarea {
    background-color: var(--white);
    border: 2px solid var(--darkgreen);
    border-radius: 5px;
    padding: 25px;
    width: 100%;
    margin: auto;
}
.contact-form > label {
    margin: auto;
    font-size: 0.8em;
}
.contact-form button {
    background-color: var(--green);
    border: 2px solid var(--darkgreen);
    border-radius: 5px;
    padding: 10px;
    font-family: matcha;
    color: var(--darkgreen);
    font-size: 1.5em;
}
.contact-form button:hover {
    background-color: var(--white);
    border-color: var(--darkgreen);
}

/* leaderboard */
.leaderboard {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.board-user {
    display: flex;
    align-items: center;
    height: 50px;
    background-color: rgba(235, 240, 236, 0.5);
    padding: 3%;
    border-radius: 30px;
}
.board-user img {
    max-width: 10%;
    border-radius: 100%;
    margin-right: 2%;
}
.board-user p {
    height: fit-content;
    font-size: 1.5em;
    font-family: matcha;
}
.board-user .score {
    margin-left: auto;
    background-color: var(--white);
    width: 50%;
    text-align: center;
    padding: 10px;
    border-radius: 30px;
    border: 3px solid var(--darkgreen);
}
.leader {
    color: var(--yellow);
    text-shadow: 2px 2px 2px black;
}